%p 1st

%div
  %table.table
    %thead
      %tr
        %td
          %div.row
            %div.col-md-3 Sponsor
            %div.col-md-3 Status
            %div.col-md-3 Amount
            %div.col-md-3 Agreed

    %tbody
      -@sponsorships.each do |sponsorship|
        %tr
          %td
            %div.row
              %div.col-md-3= sponsorship.Sponsor.name
              %div.col-md-3= sponsorship.status
              %div.col-md-3= sponsorship.amount
              %check_box_tag.switch-checkbox
