%h1 Listing sponsorships

- state = 1

%ul.nav.nav-tabs.nav-justified
  %li.active
    %a Contacted Sponsors
  %li
    %a Sponsoriships State
  %li
    %a Logging



= link_to 'New Sponsorship', new_admin_conference_sponsorship_path
